@media only screen and (max-width: 600px) {
    .hero-text{
        width: 170% !important;
    }
    .hero-img{
        background-position: 42%;
    }

    .cta-row{
        display: block !important;
    }

    .cta-col{
        background-image: none !important;
        margin-bottom: 1rem;

    }

    .cta-div {
        width: 100% !important;
    }

 
    
} 