@media only screen and (max-width: 586px) {
  .hero-text {
    width: 170% !important;
  }
  .hero-img {
    background-position: 45%;
  }

  .cta-row {
    display: block !important;
  }

  .cta-col {
    background-image: none !important;
    margin-bottom: 1rem;
  }

  .cta-div, .mobile {
    width: 100% !important;
  }

  .togle {
    box-shadow: none !important;
    border: none !important;
  }

}

.mobile{
  width: 50%;
}

.inpt {
    background-color: #e5dddd;
    border: none;
    font-size: 0.95rem;
  }
